:root {
  --shadow: 5px 7px 2px #000;
  --border-radius: 0.5rem;
}

* {
  box-sizing: border-box;
}

body {
  margin: 0;
  background-image: url("bg.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: absolute;
  font-family: Arial, Helvetica, sans-serif;
  min-height: 100vw;
}

.container {
  max-width: 75rem;
  margin: 0 auto;
  padding-left: 1rem;
  padding-right: 1rem;
  margin-bottom: 4rem;
}

/*navbar*/

.flex-nav ul {
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
  margin-top: 3rem;
}

.flex-nav li {
  flex: 3;
}

.flex-nav ul li a {
  text-decoration: none;
  font-size: 2rem;
  color: #fff;
}

h1 {
  color: #fff;
  font-size: 3rem;
  text-align: center;
}

.text {
  color: #fff;
  font-size: 2rem;
  text-align: center;
}

img {
  width: 100%;
  max-width: 100%;
  height: auto;
  border-radius: 0.5rem;
}

.circle {
  background-image: url(./images/profile-picture-300x300.jpg);
  background-position: center;
  background-repeat: no-repeat;
  height: 20rem;
  width: 20rem;
  background-size: cover;
  margin-left: auto;
  margin-right: auto;
  background-color: red;
  padding: 0;
  border-radius: 50%;
  border: 0.3rem solid #fff;
  margin-bottom: 4rem;
}

.square {
  background-image: url(./images/231-2312557_500-instagram-logo-instagram-logo-white-vector.png);
  background-position: center;
  background-repeat: no-repeat;
  height: 4rem;
  width: 4rem;
  background-size: cover;
  margin-left: auto;
  margin-right: auto;
  padding: 0;
  margin-bottom: 5rem;
}

.image-wrapper {
  position: relative;
}
.text-wrapper {
  margin-top: 0;
  height: 100%;
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
  background: rgba(0, 0, 0, 0.4);
  border-radius: 0.5rem;
}

.text-wrapper h3 {
  padding: 3rem;
  text-align: center;
  color: #fff;
}

/*.text-wrapper::after {*/
/*background: rgba(0, 0, 0, 0.2);*/
/*position: absolute;*/
/*[>top: 0;<]*/
/*[>right: 0;<]*/
/*[>bottom: 0;<]*/
/*[>left: 0;<]*/
/*}*/

.text-wrapper p {
  text-align: center;
  color: #fff;
}

.text-wrapper:hover {
  background: rgba(0, 0, 0, 0);
  color: #000;
  /*position: absolute;*/
  /*top: 0;*/
  /*right: 0;*/
  /*bottom: 0;*/
  /*left: 0;*/
  transition: all 0.5s;
  transform: scale1.01;
}

.text-wrapper:hover .title {
  color: rgba(0, 0, 0, 0);
}

.text-wrapper:hover .description {
  color: rgba(0, 0, 0, 0);
}

.img-text-wrapper {
  position: absolute;
  top: 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100%;
  text-align: center;
  padding-left: 100px;
  padding-right: 100px;
}
.product-grid {
  display: grid;
  grid-gap: 2rem;
}

.profile {
}

.product-grid,
.product-grid-item {
  margin: 0;
  padding: 0;
  list-style: none;
}

.product-grid-item {
  background: #000;
  /*padding: 2rem;*/
  display: grid;
  border-radius: var(--border-radius);
  box-shadow: var(--shadow);
}

.product-grid-item img {
  height: 240px;
  position: relative;
}

.product-grid-item button {
  display: block;
  background: #fec401;
  border-radius: var(--border-radius);
  border: none;
  width: 100%;
  padding: 1rem;
  font-size: 1rem;
  transition: 300ms background;
}

.product-grid-item button:hover {
  cursor: pointer;
}

.product-grid-item label {
  display: block;
  font-size: 1rem;
  margin-bottom: 0.5rem;
}

.toolbar {
  text-align: center;
  margin-bottom: 2rem;
}

.filterBy,
.sortBy {
  display: inline-block;
}

label {
  color: #fff;
  text-shadow: var(--shadow);
  font-size: 1.3rem;
  display: inline-block;
  margin-right: 0.5rem;
}

select {
  text-transform: capitalize;
  margin-right: 2rem;
  padding: 0.5rem;
  display: inline-block;
  min-width: 10rem;
  border-radius: 0.25rem;
  font-size: 1.2rem;
}

@media only screen and (min-width: 30rem) {
  .product-grid {
    grid-template-columns: 1fr 1fr;
  }

  h1 {
    font-size: 5rem;
    line-height: 1;
    margin: 3rem 0 5rem;
  }
}

@media only screen and (min-width: 60rem) {
  .flex-nav ul li a {
    font-size: 3rem;
  }
  .product-grid {
    grid-template-columns: repeat(3, 1fr);
  }
}
